<!DOCTYPE html>
<html lang="en">

<head>
    <script src="face-api.js"></script>
    <script src="js/commons.js"></script>
    <script src="js/faceDetectionControls.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <title>Document</title>
</head>

<body>
    <h1>Hello World!!!</h1>
    <div id="navbar"></div>

    <div style="position: relative" class="margin">
        <video id="inputVideo" autoplay muted width="400" controls autoplay muted loop playsinline>
            <source src="../L20210224001344082.mp4" type="video/mp4" />
        </video>
        <canvas id="overlay" />

    </div>
</body>

</html>